.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-dark);
    padding: 15px 0;

    p {
        color: var(--color-white);
        font-size: 17px;
    }
}