.result {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--color-gray);
    border-radius: 15px;
    align-self: start;
}

.price {
    font-size: 25px;

    @media (max-width: 1024px) {
        font-size: 22px;
    }
}

.button {
    width: 200px;
    padding: 10px;
    background: var(--color-dark);
    color: var(--color-white);
    font-size: 20px;
    border-radius: 15px;
}