a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    margin-top: 100px;
    flex: 1 0 auto;
}

.home {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 50px;
}