.cart {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    display: flex;
    gap: 100px;
    border: 1px solid var(--color-gray);
    padding: 20px;
    border-radius: var(--border-radius);
}

.details {
    display: flex;
    gap: 20px;

    img {
        max-width: 200px;
        border-radius: var(--border-radius);
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
        font-size: 25px;
    }

    strong {
        font-size: 22px;
    }

    span {
        font-size: 20px;
    }
}

.delete {
    cursor: pointer;

    svg {
        width: 30px;
        height: 30px;
        color: red;
        fill: transparent;
    }
}

.order {
    display: flex;
    flex-direction: column;
    gap: 20px;

    strong {
        font-size: 30px;
    }
}

