.none {
    font-size: 30px;
    margin-top: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 16px;
    
    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 540px) {
        grid-template-columns: repeat(2, 1fr);
    }
}