.paggination {
    display: flex;

    span {
        cursor: pointer;
        padding: 5px 9px;
        border: 1px solid var(--color-gray);
        font-size: 18px;
    }

    .active {
        background: var(--color-gray);
        color: var(--color-dark);
    }
}