.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 26px;
    margin-top: 30px;
}

.item {
    border: 1px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 20px;

    &:hover {
        color: var(--color-gray);
        text-decoration: underline;
    }
}

.price {
    font-size: 20px;
}
