.info {
    display: flex;
    gap: 30px;

    @media (max-width: 540px) {
        flex-direction: column;
    }
}

.image {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    
    @media (max-width: 1024px) {
        width: 300px;
        height: 300px;
    }

    @media (max-width: 768px) {
        width: 200px;
        height: 200px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 30px;

    @media (max-width: 1024px) {
        font-size: 26px;
    }
}

.body {
    font-size: 20px;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

.rating {
    font-size: 25px;

    @media (max-width: 1024px) {
        font-size: 22px;
    }
}

.price {
    font-size: 30px;

    @media (max-width: 1024px) {
        font-size: 25px;
    }
}

.button {
    width: 300px;
    background: var(--color-dark);
    color: var(--color-white);
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 20px;
    transition: 0.1s;
    margin-top: 10px;

    &:hover {
        scale: 1.05;
    }

    &:active {
        opacity: 0.7;
    }

    @media (max-width: 1024px) {
        width: 150px;
        font-size: 18px;
        padding: 10px 15px;
    }
}